/* HeaderComponent.module.css */

/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;600&family=Raleway:wght@400;600&family=Quicksand:wght@400;600&family=Pacifico&display=swap');

.header {
    background-color: #dee2e6;
    color: white;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: 'Montserrat', sans-serif; /* Áp dụng font Montserrat cho toàn bộ header */
}

.header img {
    width: auto;
    height: 80px;
    position: absolute;
    left: 10%;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nav-item {
    margin: 0;
}

.navLink {
    text-decoration: none;
    color: red;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; /* Sử dụng font Poppins cho các liên kết nav */
    font-weight: 600; /* Làm đậm chữ */
    transition: color 0.3s ease; /* Thêm hiệu ứng chuyển đổi màu */
}

.navLink:hover {
    color: royalblue;
}

/* Thêm một class mới cho logo text nếu bạn có */
.logo-text {
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: #333;
}